    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    html{
        scroll-behavior: smooth;
    }
    /* -------------------------HEADER CSS START-------------------- */
    header{

    }
    .marquee-container{
        background-color: black;
        padding: 9.5px;
        overflow: hidden;
    }
    .marquee {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .marquee-content {
        display: flex;
        gap: 90px;
        white-space: nowrap;
        animation: scroll-marquee 27s linear infinite;
        padding: 0 20px 0 20px;
    }
    .marquee-content span {
        color: white;
        font-size: 17px;
        font-weight: 400;
        flex-shrink: 0;
        font-family: Poppins, sans-serif;
    }
    @keyframes scroll-marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    header .container{
         max-width: 1400px;
    }
    .container{
        /* border: 1px solid red; */
        max-width: 1300px;
        margin: 0 auto;
        height: 126px;
        padding: 10px 0px 10px 0px;
    }
    .container nav{
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid blue; */
        padding: 0px 0px 0px 20px;
    }
    .container nav .icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container nav .icons .logo{
        /* border: 1px solid red; */
        height: 48px;
        max-width: 210px;
         margin: 12px auto 20px auto;
         padding: 0 0 0 33px;
        
    }
     .container nav .logo img{
        max-width: 100%;
        height: 100%;
         /* padding: 10px 0 0 0; */
         /* border: 1px solid red; */
    }
    .container nav .icons .cart a {
        padding:  5px;
    }
    .container nav .icons .cart a i{
        /* border: 1px solid red; */
        color: #121212;
        font-size: 17px;
    }
     .container nav ul{
        display: flex;
        justify-content: center;
        gap: 25px;
        padding: 0px 20px 0px 0px;
        /* border: 1px solid red; */
     }
      .container nav ul li{
        list-style: none;
     }
      .container nav ul li a{
        text-decoration: none;
        color: #121212E6;
        font-size: 14px;
        padding: 0 5px  0 0;
        font-family: Poppins, sans-serif;
      }
 
   
    /* -------------------------HEADER CSS END-------------------- */
    /* -------------------------SECTION-1 CSS START-------------------- */
     .sec-1{
        background-color: #FDFAF8;
        margin: 1% 0 0 0; 
     }
     .sec-1 .container{
        display: grid;
        grid-template-columns: 64% 36%;
        height: auto;
        min-height: 605px;
        position: sticky;
        top: 0;
     }
     .sec-1 .container aside{
        /* border: 1px solid green; */
        display: grid;
        grid-template-columns: 25% 75%;
        position: sticky;
        top: 0;
     }
     .sec-1 .container aside .img-link{
        /* border: 1px solid yellow; */
     }
     .sec-1 .container aside .img-link ul {
        overflow-y: auto;
        max-height: 595px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
     }
     
     .sec-1 .container aside .img-link ul::-webkit-scrollbar {
        display: none;
     }
     .sec-1 .container aside .img-link ul li{
        list-style: none;
        padding: 10px 0px 10px 0px;
        flex-shrink: 0;
     }
     .sec-1 .container aside .main-image{
        /* border: 1px solid purple; */
        height: 605px;
        max-width: 605px;
        overflow: hidden;
      
     }
     .sec-1 .container aside .main-image img{
        height: 100%;
        max-width: 100%;
        padding: 10px 0px 10px 0px;
        display: none;
     }
     .sec-1 .container aside .main-image img:target{
        display: block;
     }
     .sec-1 .container aside .main-image #main-1{
        display: block;
     } 
     .sec-1 .container aside .img-link ul li a img{
       border-radius: 12px;
     }
     .sec-1 .container aside .img-link ul li a img:hover{
        /* border: 1px solid black; */
     }
     .sec-1 .container article{
        /* border: 1px solid blue; */
        overflow-y: auto;
        max-height: 1000px;
        padding: 10px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
     }
     .sec-1 .container article::-webkit-scrollbar {
        display: none;            
    }
    .sec-1 .container article h5{
        font-size: 14px;
        /* border: 1px solid red; */
        color: #382929;
        background-color: #f1f2ee;    
        font-weight: 900;
        max-width: 270px;
        padding: 5px 0px 5px 0px;   
        border-radius: 5px;
    }
    .sec-1 .container article h6{
        font-size: 13px;
        color: #382929;
        background-color: #f1f2ee;    
        font-weight: 600;
        max-width: 220px;
        padding: 5px 0px 5px 0px;   
        margin: 2% 0 0 0;
         border-radius: 5px;
    }
    .review{
        /* border: 1px solid red; */
        display: flex;
        margin: 4% 0 0 0;
    }
     .review img{
        padding: 0px 7px 0px 0px;
     }
     .review h4{
        color: #382929;
        font-size: 15px;
        text-decoration: underline;
     }
     .product-title h3{
        font-size: 35px;
        color: #121212;
        font-weight: 500;
        margin: 4% 0 0 0;
        font-family: "Fjalla One", sans-serif;
        text-transform: uppercase;
     }
     .product-title p{
        font-size: 15px;
        color: #5f5f5f;
        margin: 2.5% 0 0 0;
        padding: 0px 110px 0px 0px;
     }
     .model-selection h4{
        font-size: 16px;
        color: #25211E;
        font-weight: 800;
        margin: 0 0 0 0;
     }
     .model-selection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        /* border: 1px solid red; */
        margin: 5% 0 0 0;
     }
     .model-selection p{
        /* border: 1px solid red; */
        display: flex;
        padding: 0 0 0 70px;
    }
     .model-selection p .model-description{
        font-size: 12px;
        color: #382929;
        font-weight: 600;
        border-radius: 5px;
        background-color: #f1f2ee;
     }
     .model-selection p img{
        padding: 0px 0px 0px 0px;
        height: 14px;
        width: 14px;
        background-color: #f1f2ee; 
        border-radius: 5px;
     }
     .model-title{
         /* border: 1px solid black; */
         font-size: 14px;
         font-family: sans-serif;
         color: #4d4d4d;
         margin: 4% 0 0 0;
     }
     .model-type{
         /* border: 1px solid blue; */
         display: inline-flex;
         gap: 15px;
         margin: 3% 0 0 0;
     }
     .model-type .model-1{
         border: 1px solid lightgray;
         border-radius: 7px;
         height: 70px;
         width: 80px;
         text-decoration: none;
     }
     .model-type .model-1:hover{
      /* border: 1px solid black; */
     }
     .classic-img{
         border-radius: 7px 7px 0 0;
         height: 50px;
     }
     .classic-img img{
         height: 100%;
         max-width: 100%;
         border-radius: 7px 7px 0 0;
     }
     .classic-img span{
         display: block;
         text-align: center;
         font-size: 12px;
         font-weight: 600;
         font-family: sans-serif;
         color: black;
         
     }
     .add-cart{
         /* border: 1px solid black; */
         margin: 5% 0 0 0;
     }
     .add-cart h2{
         font-size: 15px;
         color: #382929;
         margin: 0 0 4% 0;
         /* border: 1px solid red; */
     }
      .add-cart .check-section{
         /* border: 1px solid green; */
     }
     .check-btn-show{
          background-color: #F3EFEB;
           border-radius: 8px;
          display: grid;
          grid-template-columns: 10% 90%;
          /* border: 1px solid blue; */
          align-items: center;
          padding: 10px 12px;
     }
     .check-1 {
         position: relative;
         background-color: #f4eee9;
         border: 1px solid #BDB5AD;
         border-radius: 8px;
         margin: 0 0 2% 0;
       }
     .check-grid{
         /* border: 1px solid black; */
     }
     .check-grid .check-heading{
         /* border: 1px solid yellow; */
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 3px 8px 4px 5px;
     }
     .check-grid .check-heading h5{
         color: #382929;
         background-color: #f4eee9 !important;
     }
     .check-grid .check-heading h6{
         text-align: end;
         color: #8a0c0c !important;
         margin: 0 !important;
         font-size: 14px !important;
         background-color: #f4eee9 !important;
     }
     .radio{
         width: 23px;
         height: 23px;
         accent-color: black; 
     }
     .check-grid .check-pg {
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 3px 14px 4px 5px;
     }
     .check-grid .check-pg p{
         font-size: 12px;
         color: #382929;
         font-weight: 600;
     }
     .check-grid .check-pg del{
         color: #515151;
         font-size: 10px;
         text-align: end;
         font-weight: 600;
     }
       .check-btn-hide {
            display: none;
            /* border: 1px solid red; */
            grid-template-columns: 20% 35% 35%;
            padding: 8px;
            gap: 10px;
            align-items: center;
         }
         .check-1:has(input[type="radio"]:checked){
             border: 1px solid black;
         }
         .check-1:has(input[type="radio"]:checked) .check-btn-hide {
             display: grid;
         }
          .check-1:has(input[type="radio"]:checked) .check-btn-show{
            background-color: white;
          }
           .check-1:has(input[type="radio"]:checked)   .check-grid .check-heading h5{
            background-color: white !important;
           }
            .check-1:has(input[type="radio"]:checked)   .check-grid .check-heading h6{
            background-color: white !important;
           }
      .check-btn-hide .hidden-img{
         height: 40px;
         max-width: 40px;
         border-radius: 7px;
      }
      .check-btn-hide .hidden-img img{
         height: 100%;
         max-width: 100%;
         border-radius: 7px;
      }
     /* --------- DROPDOWN STYLES --------- */
     .bag-type, .bag-color {
         position: relative;
       }
      .bag-type details {
         width: 80px;
         border: 1px solid #999;
         background: #fff;
         border-radius: 8px;
      }
      .bag-type summary {
         cursor: pointer;
         font-weight: 600;
         font-size: 12px;
      }
      .bag-type ul {
         list-style: none;
         margin: 0;
         padding: 0;
         border-top: 1px solid #ddd;
         width: 150px;
         background: #fff;
         position: absolute;
         top: 85%;      
         z-index: 100;    
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
      }
      .bag-type li {
         display: flex;
         align-items: center;
         gap: 10px;
         padding: 8px;
         cursor: pointer;
         font-size: 12px;
         width: 150px;
      }
      .bag-type li:hover {
         background: #f5f5f5;
      }
      .bag-type img {
         width: 24px;
         height: 24px;
         border-radius: 50%;
      }
     .bag-type summary {
         padding: 10px;
         cursor: pointer;
         font-weight: 600;
         display: flex;
         align-items: center;
         justify-content: space-between;
         list-style: none;
   }
   .bag-type summary::-webkit-details-marker {
      display: none;
   }
   .bag-type summary::after {
         content: "▼";
         font-size: 10px;
      }
      /* -----------------------BAG COLOR DROP-DOWN CSS START---------------- */
      .bag-color details {
         width: 80px;
         border: 1px solid #999;
         background: #fff;
         border-radius: 8px;
      }
      .bag-color summary {
         cursor: pointer;
         font-weight: 600;
         font-size: 12px;
      }
      .bag-color ul {
         list-style: none;
         margin: 0;
         padding: 0;
         border-top: 1px solid #ddd;
         width: 150px;
         background: #fff;
         position: absolute;
         top: -350%;       
         z-index: 100;  
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
      .bag-color li {
         display: flex;
         align-items: center;
         gap: 10px;
         padding: 8px;
         cursor: pointer;
         font-size: 12px;
         width: 150px;
      }
      .bag-color li:hover {
         background: #f5f5f5;
      }
      .bag-color img {
         width: 24px;
         height: 24px;
         border-radius: 50%;
      }
     .bag-color summary {
         padding: 10px;
         cursor: pointer;
         font-weight: 600;
         display: flex;
         align-items: center;
         justify-content: space-between;
         list-style: none;
   }
   .bag-color summary::-webkit-details-marker {
      display: none;
   }
   .bag-color summary::after {
         content: "▼";
         font-size: 10px;
      }
   /*--------------------------------- CHECK-2 CSS START------------------------------------- */
   .check-1.second .check-grid .check-pg {
       padding: 0px 14px 4px 5px;
   }
   .check-1.second .check-grid .check-heading{
         padding: 0px 8px 0px 5px;
     }
  .check-2-span{
      margin: 3.5% 0 0 0;
      display: inline-block;
      background-color: black;
      color: white;
      padding: 3px 7px 3px 7px;
      border-radius: 3px;
      font-size: 10px;
   }
    .check-1.second .check-grid .check-heading h6{
         padding: 15px 0px 0px 0px;
     }
      .check-1.second  .check-grid .check-pg del{
         padding: 10px 0px 0px 0px;
     }
     .check-section .check-cartbtn{
         /* border:  1px solid red; */
         padding: 10px 0 0 0;
     }
      .check-section .check-cartbtn button{
         background-color: black;
         /* border: 1px solid white; */
         color: white;
         width: 100%;
         padding: 11px 0 11px 0;
         border-radius: 18px;
      }
      .check-section .check-cartbtn button h1{
         font-size: 20px;
      }
       .check-section .check-cartbtn button del{
         color: #8E8282;
       }
      .check-section .check-cartbtn button p{
            font-size: 15px;
            padding: 3px 0 0 0;
      }
      .check-section .check-cartbtn .warning{
         /* border: 1px solid green; */
          justify-content: center;     
         align-items: center;         
         flex-direction: column;      
         gap: 10px;   
          display: flex;          
      }
        .check-section .check-cartbtn .warning .warning-text{
         /* border: 1px solid yellow; */
          display: flex;
         justify-content: center;
         align-items: center;
         gap: 8px; 
         padding: 15px 0 0 0;
        } 
        .check-section .check-cartbtn .warning p{
         color:  #8a0c0c;
         font-size: 15px;
         font-weight: bold;
         /* border: 1px solid black; */
        }

        /* --------VDO SECTION CSS ------------*/
         .vdo-container {
      display: grid;
      grid-template-columns: 39% 39% 30%;
      gap: 5px;
      overflow: hidden;
      padding: 10px 0;
      border-bottom: 1px solid #E5E7EB;
      padding: 0 0 22px 0;
   }

   .vdo-1 {
      min-width: 0;
      width: 100%;
      border-radius: 12px;
   }

   .vdo-1 video {
      display: block;
      width: 100%;
      /* aspect-ratio: 9 / 16; */
      height: 300px;
      object-fit: cover;
      border-radius: 12px;
   }

   .vdo-1 p {
      /* margin-top: 8px; */
      padding: 7px 20px 0 0;
      color: black;
      font-size: 13px;
      line-height: 1.25;
   }
   /* ----------------QUALITY SECTION CSS --------------------*/
   .quality{
     margin: 3.5% 0 0 0; 
   }
    .quality h3{
      color: black;
      font-size: 13px;
    }
    .quality .qua-points{
      display: grid;
      grid-template-columns: 5% 95%;
      gap: 5px;
      padding: 10px 0 20px 0;
      border-bottom: 1px solid #E5E7EB;
    }
    .quality .qua-points img{
       margin: 4px 0 0 0;
    }
    .quality .qua-points h4{
      font-size: 14px;
        line-height: 25px;
    }
    .quality .qua-review{
      display: grid;
      grid-template-columns: 10% 90%;
      padding: 12px 0 0 0;
   }   
   .qua-review .qua-reviw-text{
      padding: 0 0 18px 0;
   }
   .qua-review .qua-reviw-text h3{
      font-size: 14px;
   }
    .qua-review .qua-reviw-text p{
      font-size: 13px;
      padding: 0 30px 0 0;
   }
    /* -------------------------SECTION-1 CSS END-------------------- */

  
